/* Nossos Produtos */
.bloco-itens {
    margin: 0 8dvw;
    text-align: center;
}

.item {
    /* border: 2px solid #3d3d3d; */
    display: inline-block;
    height: 32dvh;
    width: 25dvw;
    margin: 1%;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);


    /* background-color: #4141413b; */
    /* background-image: url("img/deckItauba.jpg"); */
    background-size: cover;
    background-position: bottom;
    position: relative;
    overflow: hidden;
}


.escurecer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escurecer p {
    display: none;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

.escurecer:hover {
    background-color: #000;
    opacity: 0.6;
}

.escurecer:hover p {
    display: block;
    opacity: 1;
}


.bloco-itens a {
    display: block;
    font-size: 1.3em;
    text-decoration: none;
    color: #3d3d3d;
    transition: opacity .2s ease;
}

.item a {
    background-color: transparent;
}

.verMais {
    display: block;
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    color: #242424;
    transition: opacity .2s ease;
    margin-bottom: 5dvw;
    cursor: pointer;
}

.verMais:hover {
    /* color: red; */
    opacity: 0.8;
}

@media (max-width: 950px) {
    .bloco-itens {
        margin: 0 8dvw 0dvh 8dvw;
        text-align: center;
    }

    .item {
        /* border: 1px solid black; */
        display: inline-block;
        height: 32dvh;
        width: 38.5dvw;
        margin: 1%;
    }

    .verMais {
        margin-bottom: 8dvh;
    }
}

@media (max-width: 600px) {
    .bloco-itens {
        text-align: center;
        margin: -3dvh 1dvw 10dvh 1dvw;
    }

    .item {
        /* border: 1px solid #243d; */
        display: block;
        height: 38.25dvh;
        width: 85dvw;
        margin: 5dvh auto;
    }

    .verMais {
        margin-bottom: 8dvh;
    }
}


