/* Nossos Produtos */
.bloco-itens {
    margin: 0 8dvw;
    text-align: center;
}

.item {
    /* border: 2px solid red; */
    display: inline-block;
    height: 35dvh;
    width: 25dvw;
    margin: 1%;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);


    /* background-color: #4141413b; */
    /* background-image: url("img/deckItauba.jpg"); */
    /* background-size: cover;
    background-position: bottom; */
    position: relative;
    overflow: hidden;
}


.item img {
    /* display: none; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s ease-in-out;
}

.primeira-imagem {
    z-index: 1;
}

/* A segunda imagem começa fora da tela à esquerda */
.segunda-imagem {
    z-index: 2;
    transform: translateX(200%);
}

.item:hover .segunda-imagem {
    transform: translateX(0%);
}

.escurecer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transition-delay: 0s;
}

.escurecer p {
    /* display: none; */
    /* background-color: blue; */
    max-width: 80%;
    opacity: 0;
    pointer-events: none;
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    transition-delay: 0s;
}

.escurecer:hover {
    background-color: #000;
    opacity: 0.6;
    transition-delay: 0.6s;
}

.escurecer:hover p {
    display: block;
    opacity: 1;
    transition-delay: 0.6s;
}


.bloco-itens a {
    display: block;
    font-size: 1.3em;
    text-decoration: none;
    color: #3d3d3d;
    transition: opacity .2s ease;
}

.item a {
    background-color: transparent;
}

.verMais {
    display: block;
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    color: #242424;
    transition: opacity .2s ease;
    margin-bottom: 5dvw;
    cursor: pointer;
}

.verMais:hover {
    /* color: red; */
    opacity: 0.8;
}

.bloco-filtros {
    /* background-color: rgb(209, 209, 209, 0.2); */
    margin: 0 10.2dvw;
    text-align: center;
}

input[type=text] {
    height: 4vh;

}

.bloco-opcoes {
    margin-top: 2dvh;
}


.barra-pesquisa input[type="text"] {
    width: 50%;
    max-width: 400px;
    padding: 1.3em 1em;
    border: 1.5px solid #999;
    border-radius: 25px;
    font-size: 1em;
    outline: none;
    transition: all 0.3s ease;
}

.barra-pesquisa input[type="text"]:focus {
    border-color: #333;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


.filtro-btn {
    padding: 0.6em 1.2em;
    margin: 0.3em;
    border: 2px solid #555;
    border-radius: 25px;
    background-color: transparent;
    color: #333;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filtro-btn:hover,
.filtro-btn.selecionado {
    background-color: #333;
    color: #fff;
    border-color: #333;
}


.sem-resultados {
    display: none;
    margin-top: 1.3em;
    /* background-color: rgb(211, 211, 211); */
    height: 40dvh;
    color: #a1a1a1;
    font-size: 1.4em;
}

.sem-resultados img {
    height: 80%;
}



@media (max-width: 950px) {
    .bloco-itens {
        margin: 0 8dvw 0dvh 8dvw;
        text-align: center;
    }

    .item {
        /* border: 1px solid black; */
        display: inline-block;
        height: 32dvh;
        width: 38.5dvw;
        margin: 1%;
    }

    .verMais {
        margin-bottom: 8dvh;
    }
}

@media (max-width: 600px) {
    .bloco-itens {
        text-align: center;
        margin: -3dvh 1dvw 10dvh 1dvw;
    }

    .item {
        /* border: 1px solid #243d; */
        display: block;
        height: 28dvh;
        width: 85dvw;
        margin: 5dvh auto;
    }

    .verMais {
        margin-bottom: 8dvh;
    }

    .barra-pesquisa input[type="text"] {
        width: 90%;
        max-width: 400px;
    }

    .bloco-opcoes {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        /* suavidade em iOS */
        scrollbar-width: none;
        /* Firefox */
        gap: 0.5em;
        justify-content: start;
        padding-bottom: 0.5em;
    }

    .bloco-opcoes::-webkit-scrollbar {
        display: none;
        /* Oculta a barra no Chrome/Safari */
    }

    .filtro-btn {
        flex: 0 0 auto;
        /* Impede que o botão "quebre linha" */
        padding: 0.6em 1.2em;
        border: 2px solid #555;
        border-radius: 25px;
        background-color: transparent;
        color: #333;
        font-size: 1em;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .filtro-btn:hover,
    .filtro-btn.selecionado {
        background-color: #333;
        color: #fff;
        border-color: #333;
    }
}




.modal {
    background-color: burlywood;
    height: 60dvh;
    width: 70dvw;
    position: absolute;
    top: 20dvh;
    right: 50%;
    display: none;
}