* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


/* Carrossel */
.carrossel {
    position: relative;
    border: 2px solid #3d3d3d;
    border-radius: 8px;
    height: 60vh;
    width: 79vw;
    margin: auto;
    /* overflow: hidden; */
    /* background-color: #4141413b;
    background: url("../img/inspiracoes/casaCorRJ.jpg");
    background-size: cover;
    background-position: center; */
}

.carrossel p {
    position: absolute;
    bottom: 1em;
    right: 50%;
    align-content: center;
    color: white;
    font-size: 3em;
}

.carrossel img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Faz a imagem se comportar como background-size: cover */
    object-position: center; /* Centraliza a imagem, como background-position: center */
    border-radius: 6px;
    /* display: block; */
}


.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background: rgba(0, 0, 0, 0.3); fundo transparente escuro */
    color: white;
    width: 30px;
    height: 30px;
    /* margin: -30px; */
    border: none;
    font-size: 1.6rem;
    padding: 0.35rem 1rem;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
    border-radius: 50%;
}

#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#prev-button {
    left: 10px;
}

#next-button {
    right: 10px;
}

.container-imagens {
    width: 100%;
    height: 100%;
}
.container-imagens img {
    display: none;
}


.container-slider {
    display: flex;
    width: 100%;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
}

.on {
    opacity: 1;
}

.carrossel img.on {
    display: block;
}

/* .container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px; /* Mudar
    height: 100%;
} */


/* Manter daqui para baixo */
.slider {
    opacity: 0;
    transition: opacity .8s ease;
    /* position: absolute; */
    /* width: 100%; */
}



#prev-button, #next-button {
    width: 30px;
    height: 30px;
    /* margin: -30px; */
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.7;
    z-index: 2;
}

/* #prev-button img, #next-button img {
    width: 100%;
    height: 100%;
} */

#prev-button {
    transform: rotate(180deg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container-slider {
    display: flex;
    width: 100%;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
}

.carrossel img.on {
    display: block;
}

/* .container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px; /* Mudar
    height: 100%;
} */


/* Manter daqui para baixo */
.slider {
    opacity: 0;
    transition: opacity .8s;
    /* position: absolute; */
    /* width: 100%; */
}

.on {
    opacity: 1;
}

#prev-button, #next-button {
    width: 30px;
    height: 30px;
    /* margin: -30px; */
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.7;
    z-index: 2;
}

/* #prev-button img, #next-button img {
    width: 100%;
    height: 100%;
} */

#prev-button {
    transform: rotate(180deg);
}

/*No meu A53 é esse media query que está usando*/
@media (max-width: 950px) {
    .carrossel {
        /* border: 1px solid black; */
        /* border-radius: 30px; */
        height: 50vh;
        width: 79vw;
        margin: auto;
        /* background-color: red; */
    }
}

@media (max-width: 600px) {
    .carrossel {
        /* border: 1px solid black; */
        /* border-radius: 30px; */
        height: 33vh;
        width: 85vw;
        margin: auto;
        /* background-color: blueviolet; */
    }
}