footer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 20vh;
}

.site-footer {
  background-color: #111;
  color: #ccc;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  gap: 20px;
}

.footer-section-artparquet {
  flex: 1 1 300px;
}
.footer-section {
  flex: 1 1 150px;
}

.footer-section h2 {
  color: #fff;
  margin-bottom: 10px;
}
.footer-section h3 {
  color: #fff;
  margin-bottom: 10px;
}

.footer-section p{
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
}