* {
    padding: 0;
    margin: 0;
}

/* .container-produto {
    max-width: 90vw;
    display: grid;
    flex-wrap: wrap;
    height: 60vh;
    margin: 3vh 5vw 5vh 5vw;
    padding: 2vh 4vw;
    align-items: center;
    justify-content: center;
} */

.container-produto {
    /* border: 1px solid orangered; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 18.8vh 5vw 5vh 5vw;
    height: 60vh;
    gap: 3vw;
}

.imagens-produto {
    background-color: black;
    justify-self: end;
    margin: 0vh .5vw;
    flex: 1 1 350px;
    aspect-ratio: 3/3;
    border-radius: 3px;
    position: relative;
    /* min-width: 280px;
    max-width: 600px;*/
    max-height: 100%;
    height: 100%;
    /* width: 100%; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    background-image: url("../img/produtos/garagem.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    /* margin-right: 0; */
}

.info-produto {
    justify-self: start;
    /* flex: 1 1 300px; */
    /* border: 2px solid blueviolet; */
    margin: 0 .5vw;
    min-width: 280px;
    max-width: 600px;
    /* max-height: 100%; */
    height: 100%;
    /* margin-left: 0; */
}

.nome-produto, .marca {
    font-size: 1.5em;
}

.marca {
    color: #b35000;
    margin-bottom: 2dvh;
}

.descricao, .textoEspecie {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.info-produto h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.tituloEspecie {
    font-size: 1.2em;
    font-weight: bold;
    color: #005025;;
}

#especie {
    margin-left: 80px;
}

/* .imagens-produto::after {
    content: "● ○ ○ ○ ○";
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    color: #fff;
} */

.titulo1 {
    margin-top: 0;
}



@media (max-width: 1145px) {
    .container-produto {
        height: auto;
        /* margin: auto; */
        display: block;
        
    }

    .container-produto {
        height: auto;
        /* background-color: blue; */
        display: block;
    }

    .imagens-produto {
        aspect-ratio: auto;
        display: block;
        width: 100%;
        margin: auto;
        height: 42dvh;
    }

    .info-produto {
        display: block;
        margin: 5dvh auto;
        width: 100%;
    }
}